## Configure

In [ ]:
import pandas as pd
pd.options.display.max_columns = 100

from sqlalchemy import create_engine

# import pymysql
# pymysql.install_as_MySQLdb()

# import MySQLdb

## Import Datasets to DataFrame

In [ ]:
products = pd.read_csv("data/final/products.csv", low_memory=False)
reviews = pd.read_csv("data/final/reviews.csv", low_memory=False)

print(products.shape, reviews.shape)

## Connect to DB

In [ ]:
# 위의 경우 디비가 없으면 실행이 된다. 아래처럼 디비를 만들자
engine = create_engine('mysql://datarize:datarize123@localhost')

engine.execute("CREATE DATABASE crema")

In [ ]:
engine = create_engine("mysql://datarize:datarize123@localhost:3306/crema")

conn = engine.connect()

In [ ]:
query = """
show tables
"""

pd.read_sql(query, conn)

In [ ]:
# 테이블 삭제
# engine.execute("DROP TABLE reviews")

In [ ]:
# 테이블 삭제
# engine.execute("DROP TABLE products")

In [ ]:
# 디비 삭제
# query = """
# DROP DATABASE crema
# """

# engine.execute(query)

## Make Tables

### products

In [ ]:
datetime_cols = ['created_at', 'updated_at', 'shop_builder_created_at', 'shop_builder_updated_at']

products[datetime_cols] = products[datetime_cols].apply(pd.to_datetime)

products.dtypes

In [ ]:
products[datetime_cols].head(1)

In [ ]:
# products 만들기

query = """
CREATE TABLE products (
    id INT NOT NULL,
    name TEXT,
    code TEXT,
    representive_score FLOAT,
    representative_review_id INT,
    representative_review_message TEXT,
    display TINYINT(1),
    created_at DATETIME,
    updated_at DATETIME,
    shop_builder_created_at DATETIME,
    shop_builder_updated_at DATETIME,
    reviews_count INT,
    org_price INT,
    final_price INT,
    product_status CHAR(15),
    image JSON,
    message_positive TEXT,
    top1_sentence_of_positive_reviews TEXT,
    top2_sentence_of_positive_reviews TEXT,
    top3_sentence_of_positive_reviews TEXT,
    top4_sentence_of_positive_reviews TEXT,
    top5_sentence_of_positive_reviews TEXT,
    related_10_reviews_with_top1_sentence_of_positive_reviews JSON,
    related_10_reviews_with_top2_sentence_of_positive_reviews JSON,
    related_10_reviews_with_top3_sentence_of_positive_reviews JSON,
    related_10_reviews_with_top4_sentence_of_positive_reviews JSON,
    related_10_reviews_with_top5_sentence_of_positive_reviews JSON,
    message_negative TEXT,
    top1_sentence_of_negative_reviews TEXT,
    top2_sentence_of_negative_reviews TEXT,
    top3_sentence_of_negative_reviews TEXT,
    top4_sentence_of_negative_reviews TEXT,
    top5_sentence_of_negative_reviews TEXT,
    related_10_reviews_with_top1_sentence_of_negative_reviews JSON,
    related_10_reviews_with_top2_sentence_of_negative_reviews JSON,
    related_10_reviews_with_top3_sentence_of_negative_reviews JSON,
    related_10_reviews_with_top4_sentence_of_negative_reviews JSON,
    related_10_reviews_with_top5_sentence_of_negative_reviews JSON,
    PRIMARY KEY (`id`)

) 

"""

# ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci;

engine.execute(query)

In [ ]:
# 명령어로 테이블 명세 조회
query = """
SHOW FULL COLUMNS FROM products;
"""

pd.read_sql(query, conn)

In [ ]:
# DB 설정 바꾸기
# query = """
# ALTER DATABASE crema CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci;
# """

# engine.execute(query)

In [ ]:
# 이모티콘을 저장하는데 문제 발생 -> utf8bm4 라는 새로운 형식로 바궈준다.
#"Incorrect string value: '\\xF0\\x9F\\x92\\x9E\\xF0\\x9F...'
products.iloc[30:40]['message_positive']

In [ ]:
# 디비에 데이터 넣기
products.to_sql('products', con=conn, index=False, if_exists='replace')

In [ ]:
query = """
SELECT * FROM products;
"""

result = pd.read_sql(query, conn)

print(result.shape)
result

In [ ]:
# 외래키 지정
# foreign key (data1) references test_table1(id) on delete cascade;

### reviews

In [ ]:
reviews.columns

In [ ]:
datetime_cols = ['created_at', 'updated_at']

reviews[datetime_cols] = reviews[datetime_cols].apply(pd.to_datetime)

reviews[datetime_cols].dtypes

In [ ]:
reviews[datetime_cols].head(2)

In [ ]:
# reviews 만들기

query = """
CREATE TABLE reviews (
    id INT PRIMARY KEY,
    code TEXT,
    user_name TEXT,
    user_code TEXT,    
    score FLOAT,
    score_predicted FLOAT,
    score_final FLOAT,
    message TEXT,
    message_cleaned TEXT,
    sentiment CHAR(10),
    created_at DATETIME,
    updated_at DATETIME,
    product_id INT,
    product_code TEXT,
    images JSON,    
    likes_count INT,
    plus_likes_count INT,
    comments_count INT,
    source TEXT,
    options JSON,
    product_options JSON

) ;

"""

#     PRIMARY KEY (`id`) 를 마지막에 추가해도 된다.
# PRIMARY KEY 뒤에 ;를 안붙인다?! ``도 신기

# ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci;

engine.execute(query)

In [ ]:
# 명령어로 테이블 명세 조회
query = """
SHOW FULL COLUMNS FROM reviews;
"""

pd.read_sql(query, conn)

In [ ]:
reviews.to_sql('reviews', con=conn, index=False, if_exists='replace')

In [ ]:
query = """
SELECT * FROM reviews;
"""

pd.read_sql(query, conn).head()

## Datatime 실험

In [ ]:
products['created_at'].head(1)

In [ ]:
reviews['created_at'].head(1)

In [ ]:
engine = create_engine('mysql://datarize:datarize123@localhost/test')

conn = engine.connect()

In [ ]:
# engine.execute("USE test;")

In [ ]:
query = """
SHOW tables;
"""

pd.read_sql(query, conn)

In [ ]:
# reviews 만들기

query = """
CREATE TABLE times (
    time1 DATETIME,
    time2 DATETIME,
    time3 TEXT,
    time4 TEXT

) 

"""

engine.execute(query)

In [ ]:
query = """
SELECT * FROM times
"""

pd.read_sql(query, conn)

In [ ]:
query = """
INSERT INTO times(time1, time2, time3, time4)

VALUES("2014-01-21T00:16:46.000+09:00", '2019-01-01 00:32:52+09:00', '2014-01-21T00:16:46.000+09:00', '2019-01-01 00:32:52+09:00');
"""

engine.execute(query)

In [ ]:
query = """
SELECT * FROM times
"""

pd.read_sql(query, conn)

----

## JSON 실험

In [ ]:
engine = create_engine("mysql+mysqldb://datarize:datarize123@localhost:3306/testdb")

conn = engine.connect()

In [ ]:
# 테스트에 사용할 컬럼 지정
cols = [
    'id',
    'created_at',
    'message_positive',
    'image',
    'related_10_reviews_with_positive',
    'related_10_reviews_with_negative',
    'related_10_reviews_with_positive_json',
    'related_10_reviews_with_negative_json',
]

# "related_10_reviews_with_positive" 가 비어있지 않은 5개만 뽑아서 진행
test = products.loc[lambda x : x['related_10_reviews_with_positive'].notnull(), cols].head().copy()
test['image_json'] = test['image'].str.replace("\'", '\"')

test

In [ ]:
engine.execute('DROP TABLE reviews')

In [ ]:
# 마지막 반점 조심하자..ㅎㅎ
query = """
CREATE TABLE reviews(
    id INT,
    product_id INT,
    created_at DATETIME,
    message_positive TEXT,
    image JSON,
    image_json JSON,
    related_10_reviews_with_positive JSON,
    related_10_reviews_with_negative TEXT,
    related_10_reviews_with_positive_json JSON,
    related_10_reviews_with_negative_json TEXT
    );
"""

engine.execute(query)

# foreign key (product_id) references products(id) on delete cascade

In [ ]:
query = "SHOW TABLES"

pd.read_sql(query, conn)

In [ ]:
# 쿼리로 테이블 명세 조회
query = """
SELECT 
  ORDINAL_POSITION '필드순번',
  COLUMN_NAME '필드명',
  DATA_TYPE '데이터 TYPE',
  COLUMN_TYPE '데이터 LENGTH',
  COLUMN_KEY 'KEY',
  IS_NULLABLE 'NULL값여부',
  EXTRA '자동여부',
  COLUMN_DEFAULT '디폴트값',
  COLUMN_COMMENT '필드설명'

FROM 
  information_schema.COLUMNS 

WHERE
  TABLE_SCHEMA = 'testdb'
  AND TABLE_NAME = 'reviews'

ORDER BY
  TABLE_NAME, ORDINAL_POSITION 
"""

pd.read_sql(query, conn)

In [ ]:
# 명령어로 테이블 상태 조회
query = """
SHOW TABLE STATUS;
"""

pd.read_sql(query, conn)

In [ ]:
# 명령어로 테이블 명세 조회
query = """
SHOW FULL COLUMNS FROM reviews;
"""

pd.read_sql(query, conn)

json도 잘 들어가 있다. 그럼 데이터를 넣고 뽑아보자

In [ ]:
# 디비에 데이터 넣기
test.to_sql('reviews', con=conn, index=False, if_exists='replace')

In [ ]:
query = 'SELECT * FROM reviews'

pd.read_sql(query, conn)

결론 : 굳이 json으로 덮어씌우지 않고 테이블에 json 타입만 명시해주면 되는듯하다.